@import "./sass/vendors/bootstrap.scss";

@import "./sass/abstracts/mixins";
@import "./sass/abstracts/variables";
@import "./sass/abstracts/helpers";

@import "./sass/base/base";
@import "./sass/base/typography";

@import "./sass/components/buttons";

@import "./sass/layout/footer";
@import "./sass/layout/sections";

@import "./sass/sections/about";
@import "./sass/sections/contact";
@import "./sass/sections/hero";
@import "./sass/sections/projects";

/* Navigation Bar Styles */
/* Base Navigation Styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #05baaf;
    color: #fff;
  }
  
  .logo {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .nav-menu {
    list-style: none;
    display: flex;
    gap: 1rem;
  }
  
  .nav-menu li {
    display: inline-block;
  }
  
  .nav-menu a {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
    transition: background 0.3s;
  }
  
  .nav-menu a:hover {
    background-color: #555;
    border-radius: 5px;
  }
  
  .cta-btn {
    background-color: #05baaf;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    text-decoration: none;
    transition: background 0.3s;
  }
  
  .cta-btn:hover {
    background-color: #05baaf;
  }
  
  .social-link {
    color: white;
    margin-left: 10px;
    font-size: 1.8rem;
  }
  
  /* Responsive Navigation Menu Styles */
  .nav-toggle {
    display: none;
    font-size: 1.8rem;
    cursor: pointer;
  }
  
  .nav-menu-visible {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 60px;
    right: 0;
    background-color: #333;
    width: 100%;
    padding: 1rem;
  }
  
  /* Media Query for Mobile Screens */
  @media (max-width: 768px) {
    .nav-toggle {
      display: block;
    }
  
    .nav-menu {
      display: none;
      flex-direction: column;
      align-items: center;
      width: 100%;
      background-color: #333;
      position: absolute;
      top: 60px;
      right: 0;
    }
  
    .nav-menu li {
      margin: 1rem 0;
    }
  
    .nav-menu-visible {
      display: flex;
    }
  }
  nav.navbar {
    position: sticky;
    top: 0;
    z-index: 1000;  
      
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
  }
  
  
  
